@each $key, $color in $colors {
  /* Text Colors */
  .text-#{$key} {
    color: color($key);
  }

  .bg-#{$key} {
    background-color: color($key);
  }

  /* Border Colors */
  .border-#{$key} {
    border-top: thin solid color($key);
    border-right: thin solid color($key);
    border-bottom: thin solid color($key);
    border-left: thin solid color($key);
  }

  .border-top-#{$key} {
    border-top: thin solid color($key);
  }

  .border-right-#{$key} {
    border-right: thin solid color($key);
  }

  .border-bottom-#{$key} {
    border-bottom: thin solid color($key);
  }

  .border-left-#{$key} {
    border-left: thin solid color($key);
  }

  /* Anchor Colors */
  $color: color($key);
  $hover-color: darken($color, 20%);
  a.text-#{$key} {
    color: color($key);

    &:focus,
    &:hover {
      color: $hover-color;
    }
  }
}
