/* Headings */
@each $key, $heading in $headings {
  #{$key},
  .#{$key} {
    font-family: map-get($heading, "family");
    font-size: map-get($heading, "size");
    font-weight: normal;
  }
}

/* Links */
a,
a:visited,
a:focus {
  text-decoration: none;
}

a:focus,
a:hover {
  cursor: pointer;
}

/* Text Mutations */
strong,
b,
.text-bold {
  font-weight: bold;
}

em,
.text-italic {
  font-style: italic;
}

small,
.text-small {
  font-size: 80%;
}

code,
.text-code {
  font-family: family("monospace");
}

.text-monospace {
  font-family: family("monospace");
}

.text-heading {
  font-family: family("heading");
}

.text-body {
  font-family: family("body");
}

.text-display {
  font-size: size("display");
}

/* Text Alignment */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Text Sizes */
@each $key, $size in $sizes {
  .text-#{$key} {
    font-size: $size;
  }
}

/* Text Transforms */
.text-none {
  text-transform: none;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Font Families */
.font-roboto {
  font-family: Montserrat, sans-serif;
}
